{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">

            <table class="table">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>
                        <a href="#">Create</a>
                    </td>
                </tr>
                </thead>

                <tbody>
                {# @var product \App\Entity\Product #}
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>

                        <td>Update</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
{% endblock %}
